.startPageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 13rem);
    width: 100%;
    margin: 0;
    gap: 6rem;
}

.buttonCluster{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.iconButton{
    color: #aaa;
    transition: 300ms;
}

.iconButton:hover{
    color: #000;
    cursor: pointer;
}